*{
  font-family:'Courier New', Courier, monospace;
  color: black;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.App{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 100px 180px;
  gap: 0px 10px;

  background-image: url('/public/images/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* Homepage */
.Homepage{
  flex: 1;
  border: 2px brown inset;
  border-radius: 10px;
  background-color: rgba(250, 250, 210, 0.835);
  height: 95vh;

  display: grid;
  grid-template-rows: 50px 50px 1fr;
}
.Header{
  grid-row: 1/2;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
}
.SearchBar{
  grid-row: 2/3;
  background-color: rgba(193, 190, 190, 0.12);
}
.SearchBar > input{
  background-color: white;
  border-radius: 10px;
  border: 2px grey inset;
  margin-top: 6px;
  margin-left: 5px;
  width: 98%;
  height: 75%;
  padding: 0px 20px;
  font-size: 15px;
}
.EL{
  grid-row: 3/4;
  overflow: scroll;
  padding: 10px 20px 20px 20px;
}
.ELI{
  border-bottom: 2px grey double;
  height: 14%;
  width: 99%;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}
.ELI:hover{
  cursor: pointer;
}
.ELI:first-child{
  border-top: 2px grey double;
}
.ELI > img{
  grid-column: 1/2;
  border-radius: 50px;
  border: 1px orange inset;
  width: 70%;
  height: 85%;
}
.ELI > ul{
  grid-column: 2/3;
  list-style: none;
  padding-inline-start: 20px;
}
.ELI > ul::first-line{
  font-weight: bold;
}


/* Employee Page */
.EP{
  flex: 1;
  border: 2px brown inset;
  height: 95vh;
  border-radius: 10px;
  background-color: rgba(250, 250, 210, 0.835);

  display: grid;
  grid-template-rows: 50px 1fr;
  justify-items: center;
  gap: 20px 0px;
}
.EI > table{
  grid-row: 2/3;

  width: 32vw;
  border: 1px solid grey;
  border-radius: 4px;
  border-collapse: collapse;
}
.EI > table > tbody > tr > td{
  border: 1px solid grey;
  padding: 20px;
}
.EI > table > tbody > tr:first-child > td{
  padding: 50px 15px 50px 15px;
  border: transparent;

  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 0px 20px;
}
.EI > table > tbody > tr > td > img{
  grid-column: 1/2;

  border-radius: 100px;
  border: 2px inset orange;
  width: 120px;
  height: 120px;
}
.EI > table > tbody > tr > td > p{
  grid-column: 2/3;

  font-size: 17px;
  line-height: 0.3in;
}
.EI > table > tbody > tr > td > p > strong{
  font-size: 20px;
}
.EI > table > tbody > tr > td > .employee {
  color: grey;
  padding-top: 10px;
}


